$ cat .gitignore
#Whitelist
/*

#Folders
!/patchouli_books
!/scripts
!/config
!/groovy
!/bansoukou
!/schematics
!/resources
!/oresources

#Files
!/.gitignore
!/README.md
!/icon.png
!/options.txt
!/LICENSE