$ cat .gitignore
#Whitelist
/*

#Folders
!/patchouli_books
!/scripts
!/config
!/groovy
!/schematics
!/resources
!/oresources

#Files
!/.gitignore
!/README.md
!/icon.png
!/LICENSE
!/options.txt
!/optionsof.txt
config/jei/worldSettings.cfg
config/tconstruct_oredictcache.dat
config/thaumicjei_itemstack_aspects.json
config/time.history
config/astralsorcery/amulet_enchantments.cfg
config/splash.properties
