# Configuration file

~CONFIG_VERSION: 0.1.0

##########################################################################################################
# advanced
#--------------------------------------------------------------------------------------------------------#
# 用于更改 JEI 功能的高级配置。
##########################################################################################################

advanced {
    S:itemBlacklist <
     >
}


