# Configuration file

general {
    # Set to false to completely disable integration with FutureMC
    B:"Enable FutureMC integration"=false

    # Set to false to completely disable integration with Dungeon Tactics
    B:"Enable Hatchery integration"=false

    # Set to false to completely disable integration with JER
    B:"Enable JER integration"=false

    # Set to false to completely disable integration with Thermal Expansion
    B:"Enable Thermal Expansion integration"=false

    # Set to false to completely disable integration with Tinker's Construct
    B:"Enable Tinker's Construct integration"=false

    # Set to false to completely disable integration with XU2
    B:"Enable XU2 integration"=false
}


