# Configuration file

config {
    # Enable this to turn on the stamper recipes for the aetherium armor [default: true]
    B:"Register Stamper Recipes"=true

    # Controls how much aetherium gas must be in the stamper base and will be consumed to complete the recipe [range: 0 ~ 1500, default: 750]
    I:"Stamper Recipe Aetherium Gas Cost"=750

    # Controls if the Aetherium Crown is converted to a bauble. True value allows crown to be equipped in the head bauble slot. False value leaves the crown unmodified. [default: true]
    B:doBaublizeAetheriumCrown=true
}


