# Configuration file

general {
    # This is the pool of tips that will be displayed during the world loading screen [default: ]
    S:"Tip Lang Keys" <
        custom.ia.tips.1
        custom.ia.tips.2
        custom.ia.tips.3
        custom.ia.tips.4
        custom.ia.tips.5
        custom.ia.tips.6
        custom.ia.tips.7
        custom.ia.tips.8
        custom.ia.tips.9
        custom.ia.tips.10
        custom.ia.tips.11
        custom.ia.tips.12
        custom.ia.tips.13
        custom.ia.tips.14
        custom.ia.tips.15
        custom.ia.tips.16
        custom.ia.tips.17
        custom.ia.tips.18
        custom.ia.tips.19
        custom.ia.tips.20
        custom.ia.tips.21
        custom.ia.tips.22
        custom.ia.tips.23
     >

    # This is a map that determines the wait time for tips in different languages
    # For example, en_us:0.1 refers to "wait 0.1s for each character for tips in English" [default: [en_us:0.1]]
    S:"Tip Wait Time" <
        en_us:0.6
        zh_cn:0.12
     >
}


