# Configuration file

better_fusion_reactor {
    # Explosion radius of reactor controller. 4 - TNT size
    I:explosion_radius=4

    # How often Reactivity changes and error level change speed. Values between (1..20), default 10
    I:reaction_difficulty=10

    # Small explosion when reactor reaches 100% error level
    B:reactor_meltdown=false
}


