# Configuration file

general {
    # Constructor Speed #1, this value in seconds, smaller means quicker, larger means slower speed of attacks
    I:"Constructor Attack Speed Value 1"=2

    # Constructor Speed #2, this value in seconds, smaller means quicker, larger means slower speed of attacks. This second value is used for how long after a ranged attack
    I:"Constructor Attack Speed Value 2"=15

    # Change the Health of the Constructor
    D:"Constructor Health"=40.0

    # Change the weights at which the Constructors naturally spawn in the End, or disable it entirely, lower value means less spawns, higher means more common
    I:"Constructor Natural Spawn Weight"=1

    # damage dealt by the Constructor when doing it's ground shock wave attack
    D:"Constructor ShockWave Damage"=4.0

    # Change the chance of how many Constructors will spawn on the Lamented Islands dungeon
    # Min: 0
    # Max: 1
    D:"Constructor Structure Spawn Chance"=0.30000001192092896

    # Change the damage done by Ground Crystals
    D:"Ground Crystal Damage"=4.0

    # Change the cooldown Period of the Lamented Eye, in seconds
    I:"Lamented Eye Cooldown"=10

    # Change the value to enable the structure or disable the Lamented Islands spawn, true or false value only
    B:"Lamented Islands Structure Enabled/Disabled"=true

    # Raises and Lowers Frequency of Structure Spawns, Higher means more frequent
    # Min: 0
    # Max: 48
    I:"Lamented Islands Structure Frequency"=10

    # Change the cooldown time for using the dash ability on the Lamented Sword, in seconds
    I:"Lamented Sword Cooldown"=3

    # Change the damage done by the Lamented Sword
    D:"Lamented Sword Damage"=7.0

    # Change the damage done by the dash ability upon initially dashing to nearby entities
    D:"Lamented Sword Dash Damage"=4.0

    # Change the Velocity of the player when using the dash ability
    D:"Lamented Sword Dash Velocity"=2.4000000953674316

    # Change the Attack Damage of the Lamentor
    D:"Lamentor Attack Damage"=9.0

    # Change the speed at which the Lamentor attacks in seconds, smaller number means quicker, larger number means slower, warning 0 might be buggy
    # Min: 0
    # Max: 10
    I:"Lamentor Attack Speed"=1

    # Change the Health of the Lamentor
    D:"Lamentor Boss Health"=300.0

    # Change the multiplier of the Lamentor's Circle Attack, base damage * circle attack multiplier
    D:"Lamentor Circle Attack Multiplier"=2.0

    # Change the size of explosion for the Lamentors Hammer Attack
    # Min: 0
    # Max: 3
    D:"Lamentor Explosion Size"=2.0

    # Change the multiplier of the Lamentors Hammer Attack, base damage * hammer attack multiplier
    D:"Lamentor Hammer Attack Multiplier"=1.399999976158142

    # Change the multiplier of the Lamentor's Pierce attacks, base damage * pierce multiplier
    D:"Lamentor Pierce Damage"=1.7999999523162842

    # Change the damage of the flying Crystals
    D:"Lamentor Ranged Crystal Damage"=5.0
}


