# Configuration file

general {
    # Custom Entity Track Multipliers.
    # Format: 'entityID,multiplier'. e.g. minecraft:zombie,2.0
    S:CustomEntityTrackMultipliers <
     >

    # List of entity IDs that are exempted from any changes.(tracking distance only)
    # Format: 'entityID'. e.g. minecraft:zombie
    S:"Entity Blacklist" <
     >

    # Multiplier for global entity render distance. Default is 1.0D (100%)
    # Min: 0.0
    # Max: 5.0
    D:"Render Distance Multiplier"=0.8

    # Multiplier for entity track distance. Default is 1.0D (100%)
    # Min: 0.0
    # Max: 5.0
    D:"Track Distance Multiplier"=0.800000011920929

    # Whether to use the Mod GUI. Default is true.
    B:"Use Mod GUI"=true

    # Set to true to treat the 'blackList' as a whitelist (only entities in the list are affected). Set to false to treat it as a blacklist.
    B:Whitelist=false

    entitysettings {
        # Multiplier for animal track distance.
        # Min: 0.0
        # Max: 5.0
        D:"Animal Track Multiplier"=0.25

        # Set to true to enable the Animal Track Multiplier.
        B:"Enable Animal Track Multiplier"=false

        # Set to true to enable the Mob Track Multiplier.
        B:"Enable Mob Track Multiplier"=false

        # Set to true to enable the NonLiving Entity Track Multiplier.
        B:"Enable NonLiving Entity Track Multiplier"=false

        # Set to true to enable the Player Entity Track Multiplier.
        B:"Enable Player Entity Track Multiplier"=false

        # Multiplier for mob track distance.
        # Min: 0.0
        # Max: 5.0
        D:"Mob Track Multiplier"=0.6

        # Multiplier for non-living entity track distance.
        # Min: 0.0
        # Max: 5.0
        D:"NonLiving Entity Track Multiplier"=0.5

        # Multiplier for player entity track distance.
        # Min: 0.0
        # Max: 5.0
        D:"Player Entity Track Multiplier"=1.5
    }

}


