# Configuration file

OreDictionary {
    # Add raw plastic to itemPlasticRaw and itemPlastic
    B:RawPlastic=true

    # Add raw rubber to itemRawRubber
    B:RawRubber=true

    # Remove plastic from rubber ore dictionary (bad IC2 compat)
    B:RemovePlasticFromRubber=false

    # Add rubber bar to itemRubber (allows IC2 compat)
    B:RubberBar=true
}


Recipes {

    ##########################################################################################################
    # Vanilla
    #--------------------------------------------------------------------------------------------------------#
    # Controls for enabling/disabling crafting and furnace recipes
    # Turning these off may affect availability of Industrial Foregoing features - you may wish to provide your own recipes with Minetweaker
    ##########################################################################################################

    Vanilla {
        # Craft 2x2 raw plastic to 4 plastic sheets
        B:Craft.PlasticSheet=false

        # Craft raw rubber and stick into 6 torches
        B:Craft.RawRubberTorch=true

        # Raw rubber as furnace fuel
        B:Fuel.RawRubber=true

        # Rubber bar as furnace fuel
        B:Fuel.RubberBar=true

        # Smelt rubber bars to raw plastic in a furnace
        B:Smelt.RawPlastic=true

        # Smelt raw rubber to cooked rubber bars in a furnace
        B:Smelt.RubberBar=true
    }

    ##########################################################################################################
    # Compat
    #--------------------------------------------------------------------------------------------------------#
    # Additional recipes for other mods (won't do anything if those mods aren't present)
    ##########################################################################################################

    Compat {
        # Rubber wood in sawmill sometimes gives raw rubber
        B:ThermalExpansion.Sawmill=true

        # Sulfur and raw rubber in Induction Smelter makes extra rubber bars!
        B:ThermalExpansion.Vulcanization=true
    }

}


WorldGen {
    # Biomes where rubber trees cannot be generated; overrides whitelist
    S:Biome.Blacklist <
        minecraft:void
     >

    # Biomes where rubber trees are generated; empty indicates all biomes
    S:Biome.Whitelist <
        minecraft:swampland
        minecraft:mutated_swampland
        minecraft:forest
        minecraft:mutated_forest
        minecraft:forest_hills
        minecraft:birch_forest
        minecraft:birch_forest_hills
        minecraft:savanna
        minecraft:mutated_savanna_rock
        minecraft:mutated_savanna
        minecraft:jungle
        minecraft:jungle_edge
        minecraft:mutated_jungle
        minecraft:jungle_hills
        minecraft:mutated_jungle_edge
        minecraft:mutated_roofed_forest
        minecraft:roofed_forest
     >

    # Dimension where rubber trees cannot be generated, overrides biome whitelist and blacklist
    I:Dimension.Blacklist <
        -1
        1
     >

    # Whether or not to generate rubber trees during world generation; overrides all other settings in category
    B:Enable=false

    # Generate rubber trees in chunks that have already been created
    # Only has effect if retrogen is enabled in CoFHWorld
    B:Regenerate=false

    # Whether to add Sacred Rubber Tree saplings to stronghold library loot
    B:SacredRubberSapling=false
}


