# Configuration file

general {
    # The default % chance for a block to drop items when smashed by a dragon (requires ASM.DragonLag)
    I:defaultDropChance=100

    # The default % chance for a block to play sound and particle effects when smashed by a dragon (requires ASM.DragonLag)
    I:defaultEffectChance=100

    # Prevents lightning strikes from destroying items
    B:disableLightningItemDamage=false

    # A list of dimension IDs that Ice and Fire should NOT generate ANY structures in.
    I:iceandfire_structure_dim_blacklist <
        111
     >

    # Maximum brightness override (can be negative)
    D:maxBrightness=1.0

    # Minimum brightness override (can be negative)
    D:minBrightness=0.0

    # Prevents Tough As Nails from creating an extra attack entity event
    B:preventTANAttackEntityEvent=true

    # Entities that can NOT be stoned by the Gorgon/Gorgon Head
    S:unstoneable_entities <
        minecraft:wither
        iceandfire:gorgon
     >

    ##########################################################################################################
    # entitydistanceoverrides
    #--------------------------------------------------------------------------------------------------------#
    # A list of entities and view distances 
    ##########################################################################################################

    entitydistanceoverrides {
        I:"battletower:golem"=256
        I:"iceandfire:cyclops"=256
        I:"iceandfire:firedragon"=256
        I:"iceandfire:icedragon"=256
        I:"iceandfire:seaserpent"=256
    }

    ##########################################################################################################
    # dropchances
    #--------------------------------------------------------------------------------------------------------#
    # A list of block drop % chances (requires ASM.DragonLag)
    ##########################################################################################################

    dropchances {
        I:"iceandfire:ash"=2
        I:"iceandfire:chared_cobblestone"=2
        I:"iceandfire:chared_dirt"=2
        I:"iceandfire:chared_grass"=2
        I:"iceandfire:chared_grass_path"=2
        I:"iceandfire:chared_gravel"=2
        I:"iceandfire:chared_stone"=2
        I:"iceandfire:frozen_cobblestone"=2
        I:"iceandfire:frozen_dirt"=2
        I:"iceandfire:frozen_grass"=2
        I:"iceandfire:frozen_grass_path"=2
        I:"iceandfire:frozen_gravel"=2
        I:"iceandfire:frozen_splinters"=2
        I:"iceandfire:frozen_stone"=2
        I:"minecraft:cobblestone"=3
        I:"minecraft:dirt"=3
        I:"minecraft:grass"=4
        I:"minecraft:sand"=3
        I:"minecraft:stone"=2
    }

    ##########################################################################################################
    # effectchances
    #--------------------------------------------------------------------------------------------------------#
    # A list of block effect % chances (requires ASM.DragonLag)
    ##########################################################################################################

    effectchances {
        I:"iceandfire:ash"=5
        I:"iceandfire:chared_cobblestone"=5
        I:"iceandfire:chared_dirt"=5
        I:"iceandfire:chared_gravel"=5
        I:"iceandfire:chared_stone"=5
        I:"iceandfire:frozen_cobblestone"=5
        I:"iceandfire:frozen_dirt"=5
        I:"iceandfire:frozen_gravel"=5
        I:"iceandfire:frozen_splinters"=5
        I:"iceandfire:frozen_stone"=5
        I:"minecraft:dirt"=5
        I:"minecraft:stone"=5
    }

    ##########################################################################################################
    # repairfixes
    #--------------------------------------------------------------------------------------------------------#
    # A list of tools/armor and there new repair item (note: only list one tool of a given 'ToolMaterial')
    ##########################################################################################################

    repairfixes {
        S:"aquaculture:neptunium_chestplate"=aquaculture:loot,1
        S:"aquaculture:neptunium_pickaxe"=aquaculture:loot,1
    }

    ##########################################################################################################
    # extraundeaddamage
    #--------------------------------------------------------------------------------------------------------#
    # A list of items that need to do extra damage to undead enemies
    ##########################################################################################################

    extraundeaddamage {
        D:"minecraft:bedrock"=100.0
    }

    ##########################################################################################################
    # asm
    #--------------------------------------------------------------------------------------------------------#
    # Core modifications
    ##########################################################################################################

    asm {
        # Part of a complex fix to prevent players from using dismount (pressing 'shift') to escape a dragon's jaws
        B:DragonDismountFix=true

        # Patches EntityDragonBase to help with lag
        B:DragonLag=true

        # Prevents Myrmex eggs from being duped when broken with multiple damage events in one tick
        B:FixMyrmexDupeBug=true

        # Fixes a bug and allows the last Ice and Fire Sea Serpent type to spawn
        B:FixSeaSerpentSpawn=true

        # Adds a hook to blacklist some entities from being stoned by the Gorgon/Gorgon Head
        B:HookGorgonHead=true

        # Adds a hook to Ice and Fire's StructureGenerator so we can cancel generation in some worlds
        B:HookStructureGenerator=true

        # Patches ItemModAxe to allow axes to work on modded wood blocks
        B:IceAndFireAxeFix=true

        # Removes everything from the vanilla achievements system! Can be used to stop log spam when recipes are tweaked.
        B:NukeAchievements=false

        # Patches the dummy from MmmMmmMmmMmm (yes, thats a mod name) to show damage and not hearts
        B:PatchMmmMmm=true

        # Mutes harmless noisy warnings/errors in the RLCraft modpack
        B:STFU=true
    }

}


