# Configuration file

recipes {
    # To support legacy recipes, setting this to true changes the Singularity Alloy crafting material from Double Compressed Infinity Dust Block to Reinforced Obsidian. [default: false]
    B:LegacyRecipeSupport=false
}


