# Configuration file

general {
    # Enable OME Tweaks [default: true]
    B:Enable=true

    jei {
        # Enable JEI Module / Whether mixins will be loaded [default: false]
        B:Enable=false

        category_order {
            B:Enable=false
            S:"JEI Category Order" <
             >
        }

        category_modification {
            # Enable JEI Category Modification [default: false]
            B:Enable=false

            # A list of info that defines the modifications to the existing categories (Example: tconstruct.alloy,[RL]ometweaks:textures/gui/jei/test.png which changes the icon of tconstruct.alloy to ometweaks:textures/gui/jei/test.png) [default: [tconstruct.alloy,[RL]ometweaks:textures/gui/jei/test.png], [tconstruct.smeltery,[Item]minecraft:apple@0]]
            S:"JEI Category Modification" <
                tconstruct.alloy,[RL]ometweaks:textures/gui/jei/test.png
                tconstruct.smeltery,[Item]minecraft:apple@0
             >
        }

    }

    if {
        # Enable Industrial Foregoing Module / Whether mixins will be loaded [default: false]
        B:Enable=true

        infinity_drill {

            blacklist {
                # Enable Industrial Foregoing Infinity Drill Blacklist [default: false]
                B:Enable=false

                # A list of block registry names that infinity drill cannot harvest (Example: minecraft:dirt@0 or ignore '@' like minecraft:dirt) [default: ]
                S:"Infinity Drill Blacklist" <
                 >
            }

            harvest_level {
                # Enable Industrial Foregoing Infinity Drill Harvest Level [default: false]
                B:Enable=true

                # A list of harvest level specifications (Example: pickaxe:3) [default: [pickaxe:5], [shovel:5]]
                S:"Infinity Drill Harvest Level" <
                    pickaxe:5
                    shovel:5
                 >
            }

        }

        petrified_fuel_generator {
            # Enable Industrial Foregoing Petrified Fuel Generator Overhaul [default: false]
            B:Enable=false

            # A list of fuel definitions (Example: minecraft:dirt,100,40 so dirt generates 100 RF/tick for 40 ticks)
            # Config option "burnTimeMultiplier" from Industrial Foregoing still affects the duration you set
            #  [default: [minecraft:dirt,100,40]]
            S:"Petrified Fuel Generator Fuel Def Override" <
                minecraft:dirt,100,40
             >

            # Whether to add burn time and i18n to the existing petrified fuel generator jei page [default: false]
            B:"Petrified Fuel Generator JEI Overhaul"=false

            # -1 for no max limit to all auto-added default fuels [range: -1 ~ 2147483647, default: -1]
            I:"Petrified Fuel Generator Max Burn Time"=-1

            # -1 for no max limit to all auto-added default fuels [range: -1 ~ 2147483647, default: -1]
            I:"Petrified Fuel Generator Max Power"=-1
        }

        fluid_effect {

            biofuel {
                # Disable Biofuel Potion Effect [default: false]
                B:"Disable Effect On Drink"=false

                # Disable Biofuel Potion Effect [default: false]
                B:"Disable Fluid Tile Effect"=false
            }

            sludge {
                # Disable Sludge Potion Effect [default: false]
                B:"Disable Effect On Drink"=false

                # Disable Sludge Potion Effect [default: false]
                B:"Disable Fluid Tile Effect"=false
            }

            sewage {
                # Disable Sewage Potion Effect [default: false]
                B:"Disable Effect On Drink"=false

                # Disable Sewage Potion Effect [default: false]
                B:"Disable Fluid Tile Effect"=false
            }

            meat {
                # Disable Meat Potion Effect [default: false]
                B:"Disable Effect On Drink"=false

                # Disable Meat Potion Effect [default: false]
                B:"Disable Fluid Tile Effect"=false
            }

            protein {
                # Disable Protein Potion Effect [default: false]
                B:"Disable Effect On Drink"=false

                # Disable Protein Potion Effect [default: false]
                B:"Disable Fluid Tile Effect"=false
            }

            latex {
                # Disable Latex Potion Effect [default: false]
                B:"Disable Effect On Drink"=false

                # Disable Latex Potion Effect [default: false]
                B:"Disable Fluid Tile Effect"=false
            }

        }

    }

    scp {
        # Enable SCP Lockdown Module / Whether mixins will be loaded [default: false]
        B:Enable=false

        capability {

            sleep_deprivation {
                # Disable SCP Sleep Deprivation Capability [default: false]
                B:Disable=false
            }

            shadow_infestation {
                # Disable SCP Shadow Infestation Capability [default: false]
                B:Disable=false
            }

            bloodstone {
                # Disable SCP Bloodstone Capability [default: false]
                B:Disable=false
            }

            infection {
                # Disable SCP Infection Capability [default: false]
                B:Disable=false
            }

            killed_entities {
                # Disable SCP Killed Entities Capability [default: false]
                B:Disable=false
            }

            cowbell {
                # Disable SCP Cowbell Capability [default: false]
                B:Disable=false
            }

            lost_items {
                # Disable SCP Lost Items Capability [default: false]
                B:Disable=false
            }

        }

    }

    inworldcrafting {
        # Enable In World Crafting Module / Whether mixins will be loaded [default: false]
        B:Enable=true

        jei {
            # Enable In World Crafting JEI I18n Support [default: false]
            B:Enable=true
        }

    }

    thermalfoundation {
        # Enable Thermal Foundation Module / Whether mixins will be loaded [default: false]
        B:Enable=true

        cryotheum {

            interactions {
                # Disable Thermal Foundation Cryotheum Interactions [default: false]
                B:Disable=false
            }

        }

        mana {

            interactions {
                # Disable Thermal Foundation Mana Interactions [default: false]
                B:Disable=true
            }

        }

        petrotheum {

            interactions {
                # Disable Thermal Foundation Petrotheum Interactions [default: false]
                B:Disable=false
            }

        }

        pyrotheum {

            interactions {
                # Disable Thermal Foundation Pyrotheum Interactions [default: false]
                B:Disable=false
            }

        }

    }

    extrautils2 {
        # Enable Extra Utilities Module / Whether mixins will be loaded [default: false]
        B:Enable=false

        node_mining_upgrade {
            # Enable Fluid Interaction Tweaker Compat with Mining Node [default: false]
            B:Enable=false
        }

    }

    enderio {
        # Enable Ender IO Module / Whether mixins will be loaded [default: false]
        B:Enable=false

        capacitor {
            # A list of custom capacitors (Example: test,10 so 'test' is the name and '10' is the power of this capacitor)
            # Format: <name>,<power>
            # Notice: <power> is a scaler and its range is [0, 10]
            # 
            # Item registry name will be <name>_capacitor (e.g. test_capacitor)
            # Oredict will be capacitor<capitalized name> (e.g. capacitorTest)
            # Translation key will be item.ometweaks.<name>_capacitor.name (e.g. item.ometweaks.test_capacitor.name)
            # Model location will be ometweaks:models/item/<name>_capacitor.json (see ometweaks:models/item/test_capacitor.json as an example)
            # Texture location will be ometweaks:textures/items/<name>_capacitor.png (see ometweaks:textures/items/test_capacitor.png as an example)
            # 
            #  [default: [test,10]]
            S:"Custom Capacitors" <
                test,10
             >

            # Enable Custom Capacitors [default: false]
            B:Enable=false
        }

        grinding_ball {
            # A list of custom grinding balls (Example: test,3,3,3,100)
            # Format: <name>,<main_output>,<bonus_output>,<power_use>,<durability>
            # - <main_output> is a float (e.g. 1 = 100%)
            # - <bonus_output> is a float (e.g. 1 = 100%)
            # - <power_use> is a float (e.g. 1 = 100%)
            # - <durability> is an int (e.g. 10000 is not a big value here)
            # 
            # Item registry name will be <name>_grinding_ball (e.g. test_grinding_ball)
            # Oredict will be ball<capitalized name> (e.g. ballTest)
            # Translation key will be item.ometweaks.<name>_grinding_ball.name (e.g. item.ometweaks.test_grinding_ball.name)
            # Model location will be ometweaks:models/item/<name>_grinding_ball.json (see ometweaks:models/item/test_grinding_ball.json as an example)
            # Texture location will be ometweaks:textures/items/<name>_grinding_ball.png (see ometweaks:textures/items/test_grinding_ball.png as an example)
            # 
            #  [default: [test,3,3,3,10000]]
            S:"Custom Grinding Balls" <
                test,3,3,3,10000
             >

            # Enable Custom Grinding Balls [default: false]
            B:Enable=false
        }

    }

}


