# Configuration file

general {
    B:SecurityCache=false
    I:energyStorageEnergy=10000
    D:overclockerEnergy=1.6
    D:overclockerTime=0.7

    ae2 {
        # Sets the texture index used for the crafting item slot
        # Min: 0
        # Max: 6
        I:CraftingSlotTextureIndex=1

        # Disable the Build permission check for AE2's security station
        B:SecurityCache=false
    }

    ic2 {
        # The additional energy storage provided by each Energy Storage Upgrade
        I:energyStorageEnergy=10000

        # The increased energy consumption caused by each Overclocker Upgrade
        D:overclockerEnergy=1.6

        # The reduced processing time effected by each Overclocker Upgrade
        D:overclockerTime=0.7
    }

    lazyae {
        # Fixes related to the lazy ae feature may occasionally introduce errors; disabling it can prevent such issues.
        B:EnableRepair=true
    }

    te5 {
        # Prevent the Thermal Expansion Cyclic Assembler from operating when the output slot contains items to avoid potential bugs
        B:SequentialFabricatorMixin=true
    }

    ftbu {
        # Change the name of the nbtedit command of FTB
        B:ModifyCmdEditNBT=false
    }

    tf5 {
        # When the offhand has a red map and the player is crouching, cancel the clear setting
        B:RedDiagramOfTheDeputy=true
    }

    botania {
        # If the Mana Spreader output mana is greater than the maximum value of the Mana Spreader after installing the Mana Lens, the output will be based on the maximum value of the Mana Spreader
        B:ManaSpreaderFix=true
    }

}


