# Configuration file

~CONFIG_VERSION: 0.3

clientside {
    # The column count of buttons in part builder GUIs.
    I:columnsPartBuilder=6

    # The column count of buttons in stencil table GUIs.
    I:columnsStencilTable=6

    # The column count of buttons in tool station GUIs.
    I:columnsToolStation=6

    # If true, disables all mod-specific particles to display.
    B:disableAllParticles=false

    # REQUIRES DEBUG MODULE. Will do nothing if debug module is disabled. If true the texture map will be dumped into the run directory, just like old forge did.
    B:dumpTextureMap=false

    # If true, tools will enable the forge bucket model on startup and then turn itself off. This is only there so that a fresh install gets the buckets turned on by default.
    B:enableForgeBucketModel=false

    # If true, tools will show additional info in their tooltips.
    B:extraTooltips=true

    # If true, all material variants of the different parts will be listed in creative. Set to false to only have the first found material for all parts (usually wood).
    B:listAllPartMaterials=true

    # If true, all variants of the different tables will be listed in creative. Set to false to only have the oak variant for all tables.
    B:listAllTables=true

    # If true, all material variants of the different tools will be listed in creative. Set to false to only have the first found material for all tools (usually wood).
    B:listAllToolMaterials=true

    # Minimum fluid height to display in the smeltery, great for users that need an easier time to visually identify fluids in the smeltery interface. This can make the smeltery appear more full than it actually is, only touch this if you know what you're doing.
    I:minFluidHeight=3

    # If true, all of Tinkers' blocks with contents (tables, basin, drying racks,...) will render their contents in the world.
    B:renderInventoryInWorld=true

    # If true, use a null render layer when building the models to render tables. Fixes an issue with chisel, but the config is provide in case it breaks something.
    B:renderInventoryNullLayer=true

    # If true, temperatures in the smeltery and in JEI will display in celsius. If false, they will use the internal units of Kelvin, which may be better for devs.
    B:temperatureCelsius=true
}


gameplay {
    # Adds a recipe that allows you to craft 3 gravel into a flint.
    B:addFlintRecipe=true

    # Adds a recipe that allows you to get leather from drying cooked meat.
    B:addLeatherDryingRecipe=true

    # Allows the creation of bricks from molten clay.
    B:allowBrickCasting=true

    # Fortune increases drops after harvesting a block with autosmelt.
    B:autosmeltFortuneInteraction=true
    B:beheadingAffectsWitherSkulls=true

    # Pattern and Part chests keep their inventory when harvested.
    B:chestsKeepInventory=true

    # If true, clear glass can only be harvested with silk touch like regular glass.
    B:clearGlassSilkTouch=true

    # Allows to craft all tool parts of all materials in the part builder, including materials that normally have to be cast with a smeltery.
    B:craftCastableMaterials=false

    # Blacklist of registry names or TE classnames for the crafting station to connect to. Mainly for compatibility.
    S:craftingStationBlacklist <
        de.ellpeck.actuallyadditions.mod.tile.TileEntityItemViewer
     >

    # If tools can be deconstructed in tool stations and tool forges by putting them into output slots.
    B:deconstructTools=true

    # How many ticks projectiles are allowed on the ground until they despawn.
    I:despawnProjectile=1200

    # If gaseous fluids are being transferable via faucets.
    B:drainGaseousFluids=false

    # Adds single-use clay casts.
    B:enableClayCasts=true

    # List of entity melting entries in the format 'modid:entity;subtypes;fluid;amount'.
    S:entityMelting <
        minecraft:blaze;true;blazing_blood;20
        minecraft:evocation_illager;true;emerald;6
        minecraft:guardian;true;stone;50
        minecraft:illusion_illager;true;emerald;6
        minecraft:skeleton;true;calcium;20
        minecraft:skeleton_horse;true;calcium;20
        minecraft:silverfish;true;stone;25
        minecraft:slime;false;greenslime;25
        minecraft:snowman;true;water;100
        minecraft:spider;true;venom;20
        minecraft:stray;true;calcium;20
        minecraft:villager;true;emerald;6
        minecraft:villager_golem;true;iron;18
        minecraft:vindication_illager;true;emerald;6
        minecraft:wither_skeleton;true;calcium;20
        minecraft:zombie_pigman;true;gold;10
        tconstruct:blueslime;false;blueslime;25
        tconstruct:purpleslime;false;purpleslime;25
        battletowers:golem;false;stone;100
        mocreatures:Bee;false;venom;3
        mocreatures:BigGolem;false;stone;50
        mocreatures:CaveOgre;false;stone;50
        mocreatures:CaveScorpion;false;venom;20
        mocreatures:DarkManticore;false;venom;20
        mocreatures:DirtScorpion;false;venom;20
        mocreatures:FireManticore;false;blazing_blood;20
        mocreatures:FireOgre;false;blazing_blood;40
        mocreatures:FireScorpion;false;blazing_blood;20
        mocreatures:FrostManticore;false;venom;20
        mocreatures:FrostScorpion;false;venom;20
        mocreatures:GreenOgre;false;emerald;12
        mocreatures:HellRat;false;blazing_blood;20
        mocreatures:JellyFish;false;blueslime;6
        mocreatures:KomodoDragon;false;venom;20
        mocreatures:MiniGolem;false;ancient_silver;12
        mocreatures:PlainManticore;false;venom;20
        mocreatures:SilverSkeleton;false;ancient_silver;12
        mocreatures:Snail;false;greenslime;3
        mocreatures:Snake;false;venom;10
        mocreatures:StingRay;false;venom;10
        mocreatures:ToxicManticore;false;venom;20
        mocreatures:UndeadScorpion;false;venom;20
        mod_lavacow:boneworm;true;calcium;20
        mod_lavacow:forsaken;true;calcium;20
        mod_lavacow:grave_robber;false;emerald;6
        mod_lavacow:imp;false;blazing_blood;20
        mod_lavacow:lavacow;false;lava;20
        mod_lavacow:lilsludge;false;blueslime;25
        mod_lavacow:salamander;false;blazing_blood;40
        mod_lavacow:skeletonking;false;calcium;40
        mod_lavacow:sludgelord;false;blueslime;25
        mod_lavacow:vespa;false;venom;40
        mod_lavacow:zombiemushroom;false;venom;20
        natura:babyheatscarspider;false;blazing_blood;20
        natura:heatscarspider;false;blazing_blood;40
        thaumcraft:Firebat;false;blazing_blood;5
        thaumcraft:Pech;true;gold;10
     >

    # The tickrate at which items are heated in the seared furnace. Defaults to every 4th tick.
    I:heatItemsTickrateSearedFurnace=4

    # The tickrate at which items are heated and alloys are created in the smeltery. Defaults to every 4th tick.
    I:heatItemsTickrateSmeltery=4

    # If true, piggybackpacks can only pick up players and mobs that can be leashed in vanilla. If false any mob can be picked up.
    B:limitPiggybackpack=false

    # How much liquid is transferred by faucets and channels per pouring operation.
    I:liquidTransferRate=6

    # If true, requires slimeballs in the vanilla slimeblock recipe to match in color, otherwise gives a pink slimeblock.
    B:matchVanillaSlimeblock=false

    # List of materials to ignore, effectively preventing registration.
    S:materialIgnore <
     >

    # Determines the maximum number of possible items to display before not rendering any to prevent substantial lag. 0 to disable rendering items in the smeltery entirely. -1 for the default, which is always rendering items.
    I:maxSmelteryItemRenders=-1

    # List of mob head drops in the format 'modid:entity;subtypes;modid:item:metadata'.
    S:mobHeadDrops <
        minecraft:skeleton;true;minecraft:skull:0
        minecraft:stray;true;minecraft:skull:0
        minecraft:wither_skeleton;true;minecraft:skull:1
        minecraft:zombie;true;minecraft:skull:2
        minecraft:player;false;minecraft:skull:3
        minecraft:creeper;true;minecraft:skull:4
        minecraft:ender_dragon;true;minecraft:skull:5
        mod_lavacow:boneworm;true;minecraft:skull:0
        mod_lavacow:forsaken;true;minecraft:skull:0
        mod_lavacow:skeletonking;false;minecraft:skull:0
        mod_lavacow:scarecrow;false;mod_lavacow:scarecrowhead_common
     >

    # The mining level for ardite and cobalt ores.
    I:netherOresMiningLevel=4

    # Allows the creation of obsidian in the smeltery, using a bucket of lava and water.
    B:obsidianAlloy=true

    # Preferred mod ID for oredictionary outputs. Top most mod ID will be the preferred output ID, and if none is found the first output stack is used.
    S:orePreference <
        minecraft
        tconstruct
        thermalfoundation
        forestry
        immersiveengineering
        embers
        ic2
     >

    # Determines the ratio of ore to ingot, or in other words how many ingots you get out of an ore. This ratio applies to all ores (including poor and dense). The ratio can be any decimal, including 1.5 and the like, but can't go below 1. THIS ALSO AFFECTS MELTING TEMPERATURE!
    D:oreToIngotRatio=1.5

    # List of items to ignore when generating melting recipes from the crafting registry. For example, ignoring sticks allows metal pickaxes to melt down.
    # Format: oreName or modid:item[:meta]. If meta is unset, uses wildcard.
    S:oredictMeltingIgnore <
        dustRedstone
        plankWood
        stickWood
        stickTreatedWood
        string
        minecraft:chest:0
     >

    # Enables all common metals (copper, tin, aluminum, bronze, and steel) for ingots, nuggets, ores, and metal blocks. Disable if you want to rely on metals added by third party mods instead.
    B:registerAllCommonMetals=true

    # Enables all items, even if the Module needed to obtain them is not active.
    B:registerAllItems=false

    # Allows to reuse stencils in the stencil table to turn them into other stencils.
    B:reuseStencils=true

    # Players who enter the world for the first time get a Tinkers' Book.
    B:spawnWithBook=false

    # REQUIRES DEBUG MODULE. Tests all IMC integrations with dummy recipes. May significantly impact gameplay, so its advised you disable this outside of dev environments.
    B:testIMC=false

    # If true, tools will be fully destroyed like vanilla tools when durability is depleted. You monster!
    B:vanillaToolBreaking=false
}


worldgen {
    # Maximum Y level for aluminum ore generation.
    I:aluminumHeightMax=64

    # Minimum Y level for aluminum ore generation.
    I:aluminumHeightMin=0

    # Approximate aluminum ore generation per chunk.
    I:aluminumRate=6

    # Approximate ardite ore generation per chunk.
    I:arditeRate=12

    # Approximate cobalt ore generation per chunk.
    I:cobaltRate=12

    # Maximum Y level for copper ore generation.
    I:copperHeightMax=60

    # Minimum Y level for copper ore generation.
    I:copperHeightMin=20

    # Approximate copper ore generation per chunk.
    I:copperRate=4

    # If true, aluminum ore will generate in the overworld.
    B:genAluminum=true

    # If true, ardite ore will generate in the nether.
    B:genArdite=true

    # If true, cobalt ore will generate in the nether.
    B:genCobalt=true

    # If true, copper ore will generate in the overworld.
    B:genCopper=true

    # If true, tin ore will generate in the overworld.
    B:genTin=true

    # If true, slime islands generate in superflat worlds.
    B:generateIslandsInSuperflat=false

    # If true, slime islands will generate.
    B:generateSlimeIslands=false

    # If true, slime pools will generate.
    B:generateSlimePools=false

    # One in every X chunks will contain a magma island in the nether.
    I:magmaIslandRate=100

    # List of dimensions in which to enable or disable generation of slime islands.
    I:slimeIslandDimensions <
        -1
        1
     >

    # Whether the list of slime island dimensions behaves as a blacklist or a whitelist.
    B:slimeIslandDimensionsIsBlacklist=true

    # One in every X chunks will contain a slime island.
    I:slimeIslandRate=730

    # If false, slime islands only generate in dimensions which are of type surface. This means they won't generate in modded cave dimensions like the Deep Dark. Note that the name of this property is inverted: It must be set to false to prevent slime islands from generating in non-surface dimensions.
    B:slimeIslandsOnlyGenerateInSurfaceWorlds=true

    # List of dimensions in which to enable or disable generation of slime pools.
    I:slimePoolDimensions <
        -1
        1
     >

    # Whether the list of slime pool dimensions behaves as a blacklist or a whitelist.
    B:slimePoolDimensionsIsBlacklist=true

    # Maximum Y level for slime pool generation.
    I:slimePoolHeightMax=64

    # One in every X chunks will contain a slime pool.
    I:slimePoolRate=30

    # If false, slime pools only generate in dimensions which are of type surface. This means they won't generate in modded cave dimensions like the Deep Dark. Note that the name of this property is inverted: It must be set to false to prevent slime pools from generating in non-surface dimensions.
    B:slimePoolsOnlyGenerateInSurfaceWorlds=true

    # Maximum Y level for tin ore generation.
    I:tinHeightMax=40

    # Minimum Y level for tin ore generation.
    I:tinHeightMin=0

    # Approximate tin ore generation per chunk.
    I:tinRate=4
}


