# Configuration file

general {
    # "AuraStrike" Modifier Damage Bonus
    # Min: 0
    # Max: 2147483647
    I:"'AuraStrike' Modifier Damage Bonus"=5

    # BedrockDim DimID
    I:"Bedrock Dimension ID"=19

    # Any Enchant ID's in this list can not be added by the Osmotic Enchanter
    I:"Blacklisted Enchants" <
        71
        10
     >

    # Does the Osmotic Enchanter use the classic pillar structure
    B:"Classic Enchanter"=false

    # Is the dislocation focus enabled?
    B:"Dislocation Focus Enabled"=true

    # Can Energetic Nitor and Kami Leggings glow
    B:"Enable Nitor Vapor"=true

    # Osmotic Enchanter only can enchants vanilla and tinkerer enchantments
    B:"Enchanter WhiteList Mode"=true

    # Change dimensional shard drop rate, The higher the value the higher the drop rate
    # Min: -1
    # Max: 64
    D:EndShardDropRate=32.0

    # Ichorium ToolPart Base Damage
    # Min: 0
    # Max: 2147483647
    D:"Ichorium Weapon DamageBase"=3.5

    # Change dimensional shard drop rate, The higher the value the higher the drop rate
    # Min: -1
    # Max: 64
    D:NetherShardDropRate=16.0

    # Are Shaders allowed? This effects purely cosmetic visual effects like the transparency for multiblock placeholder
    B:"Shaders Enabled"=true

    # This is the amount of times a spellbinding cloth may be used
    # Min: 0
    # Max: 2147483647
    I:"Spellbinding Cloth Uses"=10

    # This is the amount of uses given to the Talisman of Remedium.
    # Min: 0
    # Max: 2147483647
    I:"Talisman of Remedium Uses"=100

    # Is the telekenesis focus enabled?
    B:"Telekenesis Focus Enabled"=true

    # Can Tinkers Construct tools be repaired in the repairer?
    B:"Tinkers Construct Compatibility"=true

    # This is the distance a block can be from a Transvector Dislocator
    # Min: 0
    # Max: 2147483647
    I:"Transvector Dislocator Distance"=10

    # This is the distance a block can be from a Transvector Interface
    # Min: 0
    # Max: 2147483647
    I:"Transvector Interface Distance"=4
}


