# Configuration file

blocks {
    # How often the cake will restore? The higher the value is, lower the chance of growth. [range: 1 ~ 2147483647, default: 3]
    I:"Cake Restoration Speed"=3
}


client {
    # Should portal seal be see-throught? [default: true]
    B:"Seethrough Portal"=true
}


entities {
    # What entities should not be able to get picked up by Entity Cell?
    # Format: mod:entity
    # Example: minecraft:creeper
    # (Aww man) [default: ]
    S:EntityCellBlacklist <
        aether_legacy:slider
        aether_legacy:valkyrie_queen
        aether_legacy:sun_spirit
        deepmoblearning:glitch
        draconicevolution:*
        lost_aether:king_aerwhale
        thaumicaugmentation:*
        theaurorian:runestonedungeonkeeper
        theaurorian:moonqueen
        theaurorian:spider
        twilightforest:naga
        twilightforest:yeti_alpha
        twilightforest:hydra
        twilightforest:hydra_head
        twilightforest:hydra_mortar
        twilightforest:snow_queen
        twilightforest:ur_ghast
     >
}


"knowledge tome" {
    # Should the tome of sharing me reusable by multiple players? [default: true]
    B:Reusable=true

    # Should the tome of sharing me rewritable? [default: true]
    B:Rewritable=true
}


