"_VERSION"=1
# Gives the player an indestructible Pickaxe that can only harvest stone
enableBaneOfCobble=true
# Gives the player an indestructible Scythe that can only harvest leaves
enableBaneOfLeaves=true
# Gives the player an indestructible Lumberaxe that can only harvest tree logs
enableBaneOfLogs=true
# Gives the player an indestructible Frying Pan with large knockback that deals no damage
enablePersonalSpaceEnforcer=true
# Gives the player a small edible item with higher food efficiency, that can be restocked with any food
enableRations=true
