# Configuration file

general {
    # Determines whether or not the default tips should be possible. This includes tips added directly by other mods through their language files. [default: true]
    B:allowDefaultTips=false

    # A list of custom tips added by the user or modpack. [default: ]
    S:customTips <
     custom.ia.tips.1
     custom.ia.tips.2
     custom.ia.tips.3
     custom.ia.tips.4
     custom.ia.tips.5
     custom.ia.tips.6
     custom.ia.tips.7
     custom.ia.tips.8
     custom.ia.tips.9
     custom.ia.tips.10
     custom.ia.tips.11
     custom.ia.tips.12
     custom.ia.tips.13
     custom.ia.tips.14
     custom.ia.tips.15
     custom.ia.tips.16
     custom.ia.tips.17
     >

    # The color of the actual tip text. [default: FFFFFF]
    S:textColor=FFFFFF

    # The color of the top/title text for the tip. [default: FFFF55]
    S:titleColor=FFFF55

    # The amount of offset the tip text should have from the left of the screen. [range: 0 ~ 2147483647, default: 5]
    I:xOffset=5

    # The amount of offset the tip text should have from the bottom of the screen. [range: 0 ~ 2147483647, default: 40]
    I:yOffset=40
}


