# Configuration file

general {
    # Determines whether or not the default tips should be possible. This includes tips added directly by other mods through their language files. [default: true]
    B:allowDefaultTips=false

    # A list of custom tips added by the user or modpack. [default: ]
    S:customTips <
     本整合包由mczph制作
     整合包仓库链接https://github.com/Project-Interactions/Interactions
     这个包的很多模组都是非官方版的，虽然功能多了一些，但是也有可能不稳定
     I heard you like complicated recipes, so I put a recipe inside a recipe so you can recipe with your recipes!
     Shift+Z可以显示物品大图(由Item Zoom模组提供)
     Ctrl+Q丢出一组物品
     你可以自动化奥术工作台
     模块化路由器的执行模块可以自动化点击星辉祭坛
     星辉魔法相关自动化教程https://www.bilibili.com/video/BV1vb4y1p7fk
     整合包内没有汉化的模组可以直接告诉我
     >

    # The color of the actual tip text. [default: FFFFFF]
    S:textColor=FFFFFF

    # The color of the top/title text for the tip. [default: FFFF55]
    S:titleColor=FFFF55

    # The amount of offset the tip text should have from the left of the screen. [range: 0 ~ 2147483647, default: 5]
    I:xOffset=5

    # The amount of offset the tip text should have from the bottom of the screen. [range: 0 ~ 2147483647, default: 40]
    I:yOffset=40
}


