# Configuration file

bloodmagic {
    # Is holding a divination sigil required to see certain information.
    B:requireSigil=true

    # Shows the player that they're looking at a mimick block when holding a seer sigil.
    B:seeMimickWithSigil=true
}


##########################################################################################################
# botania
#--------------------------------------------------------------------------------------------------------#
# botania settings
##########################################################################################################

botania {
    B:Botaniatop=true
    B:showBotaniaprogress=true
    B:textinprogress=true
}


helmets {
    B:allHelmetsProbable=true
    S:helmetBlacklist <
     >
}


storagedrawers {
    # Replace Storage Drawers default extended info.
    B:replaceDrawers=true
}


##########################################################################################################
# thaumcraft
#--------------------------------------------------------------------------------------------------------#
# thaumcraft settings
##########################################################################################################

thaumcraft {
    B:requireGoggles=false
}


vanilla {
    # Show animal grow up timer.
    B:growupTimer=true

    # Show animal breeding cooldown.
    B:showBreedingCooldown=true
}


