# Configuration file

##########################################################################################################
# miscelleaneous
#--------------------------------------------------------------------------------------------------------#
# Some miscelleaneous but useful tweaks.
##########################################################################################################

miscelleaneous {
    # Here you can add items to a material to allow the material to be made of that item.
    # The syntax is: MaterialID:AmountNeeded:AmountMatched:ModID:ItemID:Metadata
    # MaterialID: The id of the material.
    # AmountNeeded: The amount of items needed to make the matched amount.
    # AmountMatched: The amount of material this item is worth, 1 ingot is worth 144.
    # ModID: The mod id of the item.
    # ItemID: The id of the item.
    # Metadata: The metadata of the item (optional). [default: [stone:1:144:minecraft:bedrock:0]]
    S:"Material Additions" <
        
     >

    # Here you can modify how toolparts can be created.
    # The syntax is: MaterialID:Craftable:Castable
    # MaterialID: The id of the material.
    # Craftable: Whether toolparts can be created on the part builder.
    # Castable: Whether toolparts can be created on the casting table. [default: [iron:true:true]]
    S:"Part Creation" <
        
     >

    # Here you can remove any material by adding its id to this list.
    # You can add :ModID at the end to only remove the material if it's added by a certain mod. [default: [paper]]
    S:"Remove Materials" <
    
     >

    # Here you can remove any modifier by adding its id to this list. [default: [mending_moss]]
    S:"Remove Modifiers" <
        
     >

    # Turning this option on will stop tinkers tools from being invincible (they can despawn and burn in lava). [default: true]
    B:"Tool Uninvincibility"=true

    # The syntax is: ModID:ItemID:MaterialCost
    # ModID: The mod id of the toolpart.
    # ItemID: The id of the toolpart.
    # MaterialCost: The amount of ingots the toolpart should cost. [default: [tconstruct:pick_head:3], [tconstruct:axe_head:3], [tconstruct:pan_head:4]]
    S:"Toolpart Cost" <
        tconstruct:pick_head:3
        tconstruct:axe_head:3
        tconstruct:pan_head:4
     >
}


##########################################################################################################
# stat tweaks
#--------------------------------------------------------------------------------------------------------#
# Tweaks to material stats
##########################################################################################################

"stat tweaks" {
    # All defense and toughness values will be modified with this percentage.
    # Set to 100 to disable. [range: 0 ~ 1000, default: 75]
    I:"Armor Nerf"=75

    # Here you can change the stats of specific materials, this takes priority over the percentage nerfs.
    # The syntax is: MaterialID:CoreDurability:Defense:Modifier:PlatesDurability:Toughness:ExtraDurability
    # Set any value to d to keep it as the default value. [default: [iron:12.0:15.0:0.85:5.0:0.0:3.5]]
    S:"Armory Stat Tweaks" <
        seismum:230:20:1.2:140:2:80
        astrium:210:23:2.2:30:2.5:80
        niob:320:30:2.4:110:2.25:80
        yrdeen:150:24:2.2:150:1:80
        meteorite:80:12:0.5:130:0:80
        basalt:50:10:0.5:110:1.5:30
        obsidiorite:80:24:2.0:130:0:81
        aurorium:110:32:2.1:110:1.5:83
        tiberium:120:26:2.1:140:2.5:60
        duranite:170:24:2.8:130:1.0:40
        valyrium:220:37:3:120:3:30
        vibranium:250:39:3.2:170:2.5:50
        terrax:130:28:2.1:170:2.0:110
        palladium:220:24:2.0:90:2.25:110
        uru:120:26:2.0:90:1.25:30
        eezo:30:20:1.0:80:1:40
        triberium:20:20:1.2:120:0:50
        fractum:30:21:1.25:110:0:120
        violium:140:24:1.5:110:1:40
        proxii:150:31:1.1:100:2:30
        tritonite:120:27:1.7:120:0:100
        ignitz:150:30:1.8:50:2:100
        imperomite:120:36:1.9:50:1.5:120
        solarium:200:33:1.0:130:1.75:140
        dyonite:150:25:1.5:105:1:40
        nucleum:130:23:1.2:130:1:80
        lumix:140:24:0.8:110:1.25:20
        prometheum:110:17:1.2:120:0:30
        xu_demonic_metal:16.0:19.6:1.00:28.0:0.6:36.0
        xu_withering:55.0:22.6:1.00:28.0:1.25:32.0
        xu_evil_metal:12.0:24.4:2.00:32.0:1.5:38.0
        aercloud_cold:d:d:0.5:d:d:d
        aercloud_gold:d:d:0.7:d:d:d
        aercloud_blue:d:d:0.8:d:d:d
        energetic_alloy:80:16.5:1.2:d:0.5:d
        electrical_steel:60:7.8:1.0:d:1:d
        redstone_alloy:40:d:1.1:d:1:d
        conductive_iron:80:d:0.8:d:1:d
        pulsating_iron:100:d:1.3:d:1:d
        dark_steel:140:18:1.5:d:2:d
        soularium:100:d:1.4:d:0.5:d
        end_steel:150:21.0:2.2:d:2.75:d
     >

    # Here you can change the stats of specific materials, this takes priority over the percentage nerfs.
    # The syntax is: MaterialID:Modifier:BonusAmmo
    # Set any value to d to keep it as the default value. [default: [wood:1.0:0]]
    S:"Arrow Shaft Stat Tweaks" <
        
     >

    # All attack damage values will be modified with this percentage.
    # Set to 100 to disable. [range: 0 ~ 1000, default: 75]
    I:"Attackdamage Nerf"=75

    # Here you can change the stats of specific materials, this takes priority over the percentage nerfs.
    # The syntax is: MaterialID:Modifier
    # Set any value to d to keep it as the default value. [default: [string:1.0]]
    S:"Bowstring Stat Tweaks" <

     >

    # All durability values will be modified with this percentage.
    # Set to 100 to disable. [range: 0 ~ 1000, default: 75]
    I:"Durability Nerf"=75

    # Set this to true to fill the stat tweaks list below with all the default values for all materials
    # This option disables itself after filling the list and it will also delete any tweaks you already had, so be careful. [default: false]
    B:"Fill Defaults"=false

    # Here you can change the stats of specific materials, this takes priority over the percentage nerfs.
    # The syntax is: MaterialID:Accuracy:Modifier
    # Set any value to d to keep it as the default value. [default: [feather:1.0:1.0]]
    S:"Fletching Stat Tweaks" <
        
     >

    # negative durability values are decreased further instead of increased when durabilitynerf is below 100, does the opposite for values above 100 [default: true]
    B:"Hardcore Nerfs"=true

    # All mining speed values will be modified with this percentage.
    # These options can also be used to buff stats, but just.... don't. [range: 0 ~ 1000, default: 75]
    I:"Miningspeed Nerf"=75

    # Here you can change the stats of specific materials, this takes priority over the percentage nerfs.
    # The syntax is: MaterialID:HeadDurability:MiningSpeed:AttackDamage:HarvestLevel:HandleModifier:HandleDurability:ExtraDurability:DrawSpeed:Range:BonusDamage
    # Set any value to d to keep it as the default value. [default: [stone:90:3.0:3:1:0.5:-87:15:5.0:0.4:-1.0]]
    S:"Stat Tweaks" <
        
     >
}


##########################################################################################################
# trait tweaks
#--------------------------------------------------------------------------------------------------------#
# Tweaks related to material traits.
##########################################################################################################

"trait tweaks" {
    # Set this to true to fill the trait tweaks list below with all the default values for all materials
    # This option disables itself after filling the list and it will also delete any tweaks you already had, so be careful. [default: false]
    B:"Fill Defaults Traits"=false

    # Here you can change the traits of materials for certain parts or all parts.
    # The syntax is: MaterialID:Parts:Trait1,Trait2,etc.
    # To keep all existing traits add ":false" at the end [default: [paper:all:tasty], [paper:head:cheap], [paper:handle:autosmelt], [paper:extra:holy,hellish], [paper:bow:coldblooded], [paper:bowstring:crude], [paper:projectile:dense], [paper:shaft:heavy], [paper:fletching:alien]]
    S:"Trait tweaks" <
        #testmat:core:autoforge_armor,inferno_armor,aridiculous_armor
        #testmat:bow:flammable,superheat
        #testmat:plates:autoforge_armor,inferno_armor,aridiculous_armor
        #testmat:trim:autoforge_armor,inferno_armor,aridiculous_armor
        #testmat:handle:flammable,superheat,hellish
        #testmat:extra:flammable,superheat,hellish
        #testmat:head:flammable,superheat,hellish
        #testmat:shaft:naphtha
        advancedalloy:core:dense_armor,indomitable_armor
        advancedalloy:bow:dense,tconevo.impact_force
        advancedalloy:plates:dense_armor,indomitable_armor
        advancedalloy:trim:dense_armor,indomitable_armor
        advancedalloy:handle:dense,tconevo.impact_force
        advancedalloy:extra:dense,tconevo.impact_force
        advancedalloy:head:dense,tconevo.impact_force
        advancedalloy:shaft:dense,tconevo.impact_force
        tic_crude_steel:core:skeletal_armor
        tic_crude_steel:bow:crude1
        tic_crude_steel:plates:skeletal_armor
        tic_crude_steel:trim:skeletal_armor
        tic_crude_steel:handle:crude1
        tic_crude_steel:extra:crude2
        tic_crude_steel:head:crude1
        tic_crude_steel:shaft:crude1
        tic_crystalline_pink_slime:core:slimey_green_armor,vengeful_armor
        tic_crystalline_pink_slime:bow:slimey_green,tconevo.crystalline
        tic_crystalline_pink_slime:plates:slimey_green_armor,vengeful_armor
        tic_crystalline_pink_slime:trim:slimey_green_armor,vengeful_armor
        tic_crystalline_pink_slime:handle:slimey_green,tconevo.crystalline
        tic_crystalline_pink_slime:extra:slimey_green,tconevo.crystalline
        tic_crystalline_pink_slime:head:slimey_green,tconevo.crystalline
        tic_crystalline_pink_slime:shaft:slimey_green,tconevo.crystalline
        tic_crystalline_alloy:core:tconevo.divine_grace_armor
        tic_crystalline_alloy:plates:tconevo.divine_grace_armor
        tic_crystalline_alloy:trim:tconevo.divine_grace_armor
        tic_crystalline_alloy:handle:tconevo.crystalline
        tic_crystalline_alloy:extra:tconevo.crystalline
        tic_crystalline_alloy:head:tconevo.crystalline
        tic_crystalline_alloy:shaft:tconevo.crystalline
        tic_crystalline_alloy:bow:tconevo.crystalline
        duplication:core:cheap_armor,featherweight_armor
        duplication:plates:cheap_armor
        duplication:trim:cheap_armor
        duplication:handle:cheap
        duplication:extra:precipitate
        duplication:head:cheap,moldable1
        duplication:shaft:cheap
        duplication:bow:cheap
        tic_energetic_silver:core:blessed_armor
        tic_energetic_silver:plates:blessed_armor
        tic_energetic_silver:trim:blessed_armor
        tic_energetic_silver:handle:holy,tconevo.aftershock1
        tic_energetic_silver:extra:holy,tconevo.aftershock1
        tic_energetic_silver:head:holy,tconevo.aftershock1
        tic_energetic_silver:shaft:holy,tconevo.aftershock1
        tic_energetic_silver:bow:holy,tconevo.aftershock1
        tic_melodic_alloy:core:lightweight_armor
        tic_melodic_alloy:plates:lightweight_armor
        tic_melodic_alloy:trim:lightweight_armor
        tic_melodic_alloy:handle:depthdigger
        tic_melodic_alloy:extra:depthdigger
        tic_melodic_alloy:head:depthdigger
        tic_melodic_alloy:shaft:depthdigger
        tic_melodic_alloy:bow:depthdigger
        refinediron:core:magnetic2_armor
        refinediron:plates:magnetic1_armor
        refinediron:trim:magnetic1_armor
        refinediron:handle:magnetic1
        refinediron:extra:magnetic2
        refinediron:head:magnetic2
        refinediron:shaft:magnetic1
        refinediron:bow:magnetic1
        tic_stellar_alloy:core:heroic
        tic_stellar_alloy:plates:heroic
        tic_stellar_alloy:trim:heroic
        tic_stellar_alloy:handle:tconevo.juggernaut
        tic_stellar_alloy:extra:tconevo.juggernaut
        tic_stellar_alloy:head:tconevo.juggernaut
        tic_stellar_alloy:shaft:tconevo.juggernaut
        tic_stellar_alloy:bow:tconevo.juggernaut
        useful_metal:core:dramatic_armor
        useful_metal:plates:dramatic_armor
        useful_metal:trim:dramatic_armor
        useful_metal:handle:xu_whispering,xu_withering
        useful_metal:extra:xu_whispering,xu_withering
        useful_metal:head:xu_whispering,xu_withering
        useful_metal:shaft:xu_whispering,xu_withering
        useful_metal:bow:xu_whispering,xu_withering
        tic_vivid_alloy:core:uplifting_armor
        tic_vivid_alloy:plates:uplifting_armor
        tic_vivid_alloy:trim:uplifting_armor
        tic_vivid_alloy:handle:precipitate
        tic_vivid_alloy:extra:precipitate
        tic_vivid_alloy:head:precipitate
        tic_vivid_alloy:shaft:precipitate
        tic_vivid_alloy:bow:precipitate
     >
}


