# Configuration file

general {

    fluids {
        # List any Fluids here you want to unify. Format as such: `main_fluid_id<->other_fluid_id,another_fluid_id`, For example: `oil<->crude_oil,black_gold,light_oil`
        S:equivalentFluids <
         >

        # List any Fluids here where you want the colour to be change. Format as such: `fluid_id<->rgb`, where 'rgb' is an integer rgb value. For example: `water<->5778175`
        S:fluidColourCustomizations <
         >

        # List any Mod's Fluid you want to be prioritized. Format as such: `mod_id:fluid_id`.
        S:fluidPriorities <
         >
    }

    fluid_blocks {
        # List any Blocks you want the Fluid to possess. If the Fluid already has a Block, this will override it. Format as such: `fluid_id<->block_id
        S:fluidBlockIDs <
         >
    }

}


