# Configuration file

enabled {
    B:"advancedrocketry:planks"=true
    B:"aether_legacy:dungeon_block"=true
    B:"aether_legacy:holystone"=true
    B:"aether_legacy:skyroot_plank"=true
    B:"appliedenergistics2:quartz_block"=true
    B:"appliedenergistics2:sky_stone_brick"=true
    B:"astralsorcery:blockblackmarble"=true
    B:"astralsorcery:blockmarble"=true
    B:"botania:biomestonea"=true
    B:"botania:biomestoneb"=true
    B:"botania:dreamwood"=true
    B:"botania:livingrock"=true
    B:"botania:livingwood"=true
    B:"botania:quartztypeblaze"=true
    B:"botania:quartztypedark"=true
    B:"botania:quartztypeelf"=true
    B:"botania:quartztypelavender"=true
    B:"botania:quartztypemana"=true
    B:"botania:quartztypered"=true
    B:"botania:quartztypesunny"=true
    B:"calculator:amethystplanks"=true
    B:"calculator:diamondplanks"=true
    B:"calculator:pearplanks"=true
    B:"calculator:tanzaniteplanks"=true
    B:"darkutils:pearl_block"=true
    B:"environmentalmaterials:alabaster_bricks"=true
    B:"environmentaltech:aethium"=true
    B:"environmentaltech:erodium"=true
    B:"environmentaltech:ionite"=true
    B:"environmentaltech:kyronite"=true
    B:"environmentaltech:lonsdaleite"=true
    B:"environmentaltech:pladium"=true
    B:"forestry:ash_brick"=true
    B:"forestry:planks.0"=true
    B:"forestry:planks.1"=true
    B:"forestry:planks.fireproof.0"=true
    B:"forestry:planks.fireproof.1"=true
    B:"immersiveengineering:treated_wood"=true
    B:"integrateddynamics:crystalized_chorus_brick"=true
    B:"integrateddynamics:crystalized_menril_brick"=true
    B:"integrateddynamics:menril_planks"=true
    B:"natura:nether_planks"=true
    B:"natura:overworld_planks"=true
    B:"naturesaura:ancient_planks"=true
    B:"naturesaura:infused_brick"=true
    B:"sonarcore:reinforcedstonebrick"=true
    B:"techreborn:rubber_planks"=true
    B:"thaumcraft:plank_greatwood"=true
    B:"thaumcraft:plank_silverwood"=true
}


enabled_groups {
}


general {
    # Whether or not to enable debug functionality. [default: false]
    B:enableDebugFeatures=false
}


