# Configuration file

##########################################################################################################
# mining_levels
#--------------------------------------------------------------------------------------------------------#
# The list of all mining level names
##########################################################################################################

mining_levels {
    # Canonical names [default: [0:Stone:§8%s], [1:Iron:§f%s], [2:Diamond:§b%s], [3:Obsidian:§5%s]]
    S:names <
        0:弱化 §r§7(§80§7):§8%s§r§e 
        1:基础 §r§7(§2I§7):§2%s§r§e 
        2:高级 §r§7(§3II§7):§d%s§r§e
        3:加强 §r§7(§dIII§7):§a%s§r§e
		4:精英 §r§7(§9IV§7):§5%s§r§e 
		5:极限 §r§7(§aV§7):§6%s§r§e 
		6:终极 §r§7(§cVI§7):§2§l%s§r§e 
		7:超限 §r§7(§5VII§7):§5§l%s§r§e
        10:超越 §r§7(§cX§7):§d§l%s§r§e		
		93:无尽 §r§7(§cC§6X§aX§bV§9I§dI§7):§d§ka§r §c§l%s §d§ka§r§e 
     >
}


