# Configuration file

general {
    # Toggles Construct's Armory integration for Pewter.
    B:ConstructsArmoryIntegration=true

    # If set to true, will load json files from the config folder (besides _example.json) as custom materials. For more info, see: https://github.com/ejektaflex/Pewter/wiki/Custom-Materials
    B:LoadMaterialJSONS=true

    # If set to false, Pewter will not load any of it's own content.
    B:LoadPewterContent=false
}


##########################################################################################################
# material blacklist:
#--------------------------------------------------------------------------------------------------------#
# Possible materials you can blacklist:
#  [Tic_Crude_Steel, Tic_crystalline_alloy, Tic_crystalline_pink_slime, Tic_energetic_silver, Tic_melodic_alloy, Tic_stellar_alloy, Tic_vivid_alloy, advancedalloy, duplication, enriched_gold, infused_iron, refinediron, reinforced_iron, tic_redstone, tic_useful_metal]
##########################################################################################################

"material blacklist:" {
    # Blacklist for Pewter Materials. Add the materials you don't want and they will not be loaded on startup [default: ]
    S:materialBlacklist <
     >
}


##########################################################################################################
# modifier blacklist:
#--------------------------------------------------------------------------------------------------------#
# Possible modifiers you can blacklist:
#  []
##########################################################################################################

"modifier blacklist:" {
    # Blacklist for Pewter Modifiers. Add the modifiers you don't want and they will not be loaded on startup [default: ]
    S:materialBlacklist <
     >
}


